{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
<h1>All Medicine</h1>
  <hr>
  <form action="{% url 'medicine' %}" method="get" class="my-2">
    <input type="text" class="form-control" id="q" placeholder="Enter Medicine Name" name='q'>
  </form>
  <hr>
  <ul>
    <table class="table  table-hover table-borderless">
      <thead>
        <th scope="col">EmNo.</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Expirary</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </thead>
      <tbody class="table-group-divider">
        {% for medicine in object_list %}
        <tr>
          <th scope="col">{{medicine.id}}</th>
          <td scope="col">{{medicine.name}}</td>
          <td scope="col">{{medicine.price}}</td>
          <td scope="col">{{medicine.expiry_date}}</td>
          <td scope="col">{{medicine.stock}}</td>
        <td scope="col">
          <a href="{{medicine.get_absolute_url}}">Details</a>
          <a href="{{medicine.get_medicine_delete}}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>
</div>

{% endblock content %}
