{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card px-5 py-4 pb-5" id="form1">
        <div class="row">
          <h4 class="col-3">First Name :</h4>
          <h4 class=" col-9">{{object.first_name}}</h4>
        </div>
        <div class="row">
          <h4 class="col-3">Last Name :</h4>
          <h4 class=" col-9">{{object.last_name}}</h4>
        </div>
        <div class="row">
          <h4 class="col-3">Address :</h4>
          <h4 class=" col-9">{{object.address}}</h4>
        </div>
        <div class="row">
          <h4 class="col-3">Email :</h4>
          <h4 class=" col-9">{{object.email}}</h4>
        </div>
        <div class="row">
          <h4 class="col-3">Salary :</h4>
          <h4 class=" col-9">{{object.salary}}</h4>
        </div>
        <div class="row">
          <h4 class="col-3">Phone No. :</h4>
          <h4 class=" col-9">{{object.phone_no}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
