{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-md-6">
          <div class="card px-5 py-3 pb-5" id="form1">
            <form method="post" class="form-data">
              <h2 class="display-3 mb-3">Login Here!</h2>
              {% csrf_token %}
            {% csrf_token %} {{ form|crispy }}
            <button class="btn btn-outline-dark" type="submit">Submit</button>
          </form>
          </div>
      </div>
  </div>
</div>
{% endblock content %}



